{% if paginator.total_pages > 1%}
<!-- PAGINATION -->
  <div class="pagination">

    <!-- NEXT -->
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/'}}">&laquo;Next</a>
    {% else %}
    <span class="active">&laquo;Next</span>
    {% endif %}

    <!-- NUM -->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    <!-- PREV -->
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/'}}">Prev&raquo;</a>
    {% else %}
    <span class="active">Prev&raquo;</span>
    {% endif %}

  </div>
  <!-- END PAGINATION -->
{% endif %}
